body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.card a {
  color: white;
}

.card a:hover {
  color: slategray;
  text-decoration: none;
}  

button {
  margin: 10px;
}

.products-index {
  text-align: center;
}

.card-img-top {
    width: 100%;
    height: 20rem;
    object-fit: fill;
}

.card{
  width: 25rem;
  min-height: 27rem;
}

.products-show {
  text-align: center;
}

.products-show img {
  max-width: 75%;
}


